<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pickle</title>
  <!-- Import fonts from Google -->
  <link href="https://fonts.googleapis.com/css?family=Knewave|Nunito:300i,400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/styles.css" type="text/css" />

<body>
  <header>
    <section>
      <div class="logo">
        <a href="#">
          <img src="/images/logo.svg" alt="Pickle">
          <h1>Pickle</h1>
        </a>
      </div>
      <h2>Create a poll and we'll help you pick... le</h2>
    </section>
  </header>
  <div class="accent"></div>
  <main>
    <section>
      <form method="POST" action="/">
        <input class="question" type="text" name="question" placeholder="What do you need help picking between?">
        <input class="option" type="text" name="option1" placeholder="Option 1">
        <input class="option" type="text" name="option2" placeholder="Option 2">
        <input class="option" type="text" name="option3" placeholder="Option 3">
        <input type="submit" value="Submit">
      </form>
    </section>
  </main>
  <footer>
    <section>
      <p>Pick.le was created by nick<sup>2</sup> for our midterm project at Lighthouse Labs.</p>
    </section>
  </footer>
</body>

</html>
