<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pickle</title>
  <!-- Import fonts from Google -->
  <link href="https://fonts.googleapis.com/css?family=Knewave|Nunito:300i,400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/styles.css" type="text/css" />
  <!-- scripts for the app -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/scripts/app.js"></script>

<body>
  <header>
    <section>
      <div class="logo">
        <a href="#">
          <img src="/images/logo.svg" alt="Pickle">
          <h1>Pickle</h1>
        </a>
      </div>
      <h2>Create a poll and we'll help you pick... le</h2>
    </section>
  </header>
  <div class="accent"></div>
  <main>
    <section>
      <form method="POST" action="/">
        <input class="question" type="text" name="question" placeholder="What do you need help picking between?">
        <button id="add-option">Add an Option</button>
        <input class="email" type="email" name="email" placeholder="Please enter your email" required>
        <input type="submit" id="submit" value="Submit">
        <input type="hidden" id="num-options" name="num-options" value="3">
      </form>
    </section>
  </main>
  <footer>
    <section>
      <p>Pick.le was created by nick<sup>2</sup> for our midterm project at Lighthouse Labs.</p>
    </section>
  </footer>
</body>

</html>
