<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pick.le - Helps you pick a choice!</title>

    <!-- Import Raleway font from Google -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/styles.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <section>
        <div class="logo">
          <a href="#">
            <img src="#" alt="Pick.le">
          </a>
        </div>
      </section>
    </header>
    <main>
      <section>
        <form>
          <input class="question" type="text" name="question" placeholder="Type your question here">
        </form>
      </section>
    </main>
    <footer>
      <section>
        <p>Pick.le was created by nick<sup>2</sup> for our midterm project at Lighthouse Labs.</p>
      </section>
    </footer>
  </body>
</html>
