<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pickle</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Import FontAwesome -->
  <script src="https://kit.fontawesome.com/e0cb9a35ac.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
  <!-- Import fonts from Google -->
  <link href="https://fonts.googleapis.com/css?family=Knewave|Nunito:300i,400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/styles.css" type="text/css" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <!-- scripts for the app -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="/scripts/user-page.js"></script>
</head>

<body>
  <header>
    <section>
      <div class="logo">
        <a href="/">
          <img src="/images/logo.svg" alt="Pickle">
          <h1>Pickle</h1>
        </a>
      </div>
      <h2>Create a poll and we'll help you pick... le</h2>
    </section>
  </header>
  <main>
    <section>
      <div class="question--div" id="user" data-id="<%=form.id%>">
        <span class="q">Q:</span>
        <%=form.question%>
      </div>
      <div id="result-panel" style="display:none">
        <h2 class="result-title">Here are the results for the poll!</h2>
      </div>
      <h2 class="sortable-title">Sort these ordering from favourite to least favourite:</h2>
      <div class="sortable">
        <% for (let i=0;i<form.options.length;i++) {%>
        <div class="option">
          <%=form.options[i]%>
        </div>
        <% }%>
      </div>
      <div class="buttons">
        <button id="vote">Vote</button>
        <input id="users-name" type="text" name="users-name" placeholder="Please enter your name to vote" required>
      </div>
      <div id="share">
        <div class="share-link">localhost:8080/<%= form.id% ></div>
        <div class="share-text">Share this link with your friends!</div>
      </div>
    </section>
  </main>
  <footer>
    <section>
      <p>Pickle was created by <span class="team-name">nick<sup>2</sup></span> for our midterm project at Lighthouse Labs.</p>
    </section>
  </footer>
</body>

</html>
