main {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50rem;
  margin: -3.4375rem auto 3.4375rem;
  background: {
    color: #fff;
  }
  -webkit-border-radius: 0.625rem;
  border-radius: 0.625rem;
  padding: 2.5rem;
  -webkit-box-shadow: 0 25px 50px 0 rgba(0,0,0,0.15);
  box-shadow: 0 25px 50px 0 rgba(0,0,0,0.15);

  section {
    width: 100%;

    form {
      // @import 'form-question';
      // @import 'form-options';
      // @import 'form-buttons';
    }

    // @import 'question';
    // @import 'admin';
    // @import 'options';
    // @import 'buttons';
    // @import 'share';
  }
}