main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50rem;
  margin: -12.5rem auto 0;
  background: {
    color: #fff;
  }
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  padding: 1.25rem;
  -webkit-box-shadow: 0 25px 50px 0 rgba(0,0,0,0.25);
  box-shadow: 0 25px 50px 0 rgba(0,0,0,0.25);

  section {
    width: 100%;
    form {

      .question {
        width: 100%;
        border: {
          top: none;
          left: none;
          right: none;
          bottom: 1px solid rgba(0,0,0,0.075);
        }
        font: {
          size: 1.5rem;
        }
        outline: none;

        &::-webkit-input-placeholder {
          color: rgba(0,0,0,0.5);
        }
        &::-moz-placeholder {
          color: rgba(0,0,0,0.5);
        }
        &:-ms-input-placeholder {
          color: rgba(0,0,0,0.5);
        }
      }
    }
  }
}