#share {
  display: inline-flex;
  width: 100%;
  align-items: center;
  font-size: 0.875rem;
  margin-top: $bottom-spacing;

  .share-link {
    color: $dark;
    width: 100%;
    border: { 
      top: 2px solid $accent-color-2;
      left: 2px solid $accent-color-2;
      right: none;
      bottom: 2px solid $accent-color-2;
    }
    -webkit-border-radius: 6.25rem 0 0 6.25rem;
    border-radius: 6.25rem 0 0 6.25rem;
    outline: none;
    padding: 0.625rem 1.25rem;
    flex: 0 0 50%;
  }

  .share-text {
    border: 2px solid $accent-color-2;
    background-color: $accent-color-1;
    letter-spacing: 1px;
    outline: none;
    height: 43px;
    padding: 0 1.25rem;
    -webkit-border-radius: 0 6.25rem 6.25rem 0;
    border-radius: 0 6.25rem 6.25rem 0;
    color: $accent-color-2;
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}