.sortable-title {
  font: {
    size: 1rem;
    weight: 400;
  }
  letter-spacing: 1px;
}

.sortable {
  margin-bottom: $bottom-spacing;

  .option {
    color: $dark;
    width: 100%;
    border: 2px dashed $dark;
    outline: none;
    padding: 0.9375rem;
    margin-bottom: 1.25rem;
    cursor: pointer;
  }
}